/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #303446FF;
    background-alt: #292c3cFF;
    foreground:     #c6d0f5FF;
    selected:       #8caaeeFF;
    active:         #a6d189FF;
    urgent:         #e78284FF;
}
