.outer_box,

/* Toolbar de cima */
.toolbar-top {
    background-color: #303446ee;
    border-radius: 0px 0px 10px 10px;
}

/* Toolbar de baixo */
.toolbar-bottom {
    background-color: #303446ee;
    border-radius: 10px 10px 0px 0px;
}